#address-converter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 548px;
  height: 384px;
  box-shadow: rgba(1, 85, 255, 0.15) 0px 0px 21px;
  border-radius: 22px;
  background-color: white;

  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > #label {
      align-self: flex-start;
      font-family: sans-serif;
      color: #173dc9;
      font-size: 20px;
    }

    > input {
      padding-left: 16px;
      width: 384px;
      height: 48px;
      border-color: #0155ff;
      border-style: solid 1px;
      border-radius: 5px;
      outline: none;

      font-size: 24px;
    }

    #convert-error {
      margin-top: 4px;
      align-self: flex-start;
      height: 16px;
      #convert-error-message {
        display: none;
        color: #e02020;

        font-family: sans-serif;
      }
    }

    > #output-address {
      padding-left: 16px;
      display: flex;
      align-items: center;
      border-color: lightgray;
      border-style: solid;
      background-color: white;
      border-radius: 5px;

      width: 384px;
      height: 48px;

      font-family: sans-serif;
      overflow: hidden;
      font-size: 24px;
    }

    > input:focus {
      border-color: #0155ff;
    }

    .button {
      margin: 16px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 96px;
      height: 48px;
      background-color: #173dc9;
      font-size: 20px;
      color: white;
      font-family: sans-serif;
    }

    .button:hover {
      cursor: pointer;
    }
  }
}
