#token-lookup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 548px;
  height: 384px;
  box-shadow: rgba(1, 85, 255, 0.15) 0px 0px 21px;
  border-radius: 22px;
  background-color: white;

  #content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > #label {
      align-self: flex-start;
      font-family: sans-serif;
      color: #173dc9;
      font-size: 20px;
    }

    > input {
      padding-left: 16px;
      width: 384px;
      height: 48px;
      border-color: #0155ff;
      border-style: solid 1px;
      outline: none;

      font-size: 24px;
    }
  }

  .button {
    margin: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 48px;
    background-color: #173dc9;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
  }

  .button:hover {
    cursor: pointer;
  }

  #tokens {
    height: 64px;

    font-family: sans-serif;
    font-size: 36px;
  }

  .muted {
    color: gray;
  }
}
